.modal-bg {
    opacity: 1;
    animation: apper ease 1s 1;
}

@keyframes apper {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.bg {
    position: absolute;
    background-color: adjust-hue($color: #00000064, $degrees: 0);
    height: 100vh;
    width: 100vw;
}