<section class="container-fluid bg" [hidden]="open">
    <div class="modal modal-dialog modal-dialog-centered" tabindex="-1">
        <div class="modal-content text-center modal-bg">
            <div class="modal-header">
                <h3>Modal title</h3>
                <button class="btn-close" aria-label="Close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem repellendus delectus cupiditate
                    dolorum
                    temporibus maxime voluptatum aperiam consequatur, rerum magnam ullam, tenetur dignissimos nulla quam
                    consequuntur minima laboriosam deserunt blanditiis?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-primary" (click)="closeModal()">Close</button>
            </div>
        </div>
    </div>
</section>